<html>

<head>
    {% load static %}
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home.css' %}">     


</head>

    <title>Stergere Clienti</title>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href='/'>Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='create_menu'>Create</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">by Mladee</a>
                 
                </ul>
              </div>
            </div>
          </nav>
         <br>


         <p>Are you sure you want to delete "{{imprumut}}"?</p>

         <form action="{% url 'delete_imprumuturi' imprumut.id %}" method = "POST">

            {% csrf_token %}

            <button href='/'>Cancel</button>
            <input type = "submit" name="Confirm">
         </form>


    </body>
</html>